html {
    height: 100%;
  }
  body {
    background: url(https://i.ytimg.com/vi/JquobII5VjA/maxresdefault.jpg);
    background-size: cover;
    position: relative;
    height: 100%;
    font-family: 'Open Sans', sans serif;
  }